!!!
%html
  %head
    %title Raspberry Pi
    %script{:src => "/js/jquery.js"}
    %script{:src => '/js/bootstrap.min.js'}
    %script{:src => '/script.js'}
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => '/css/base.css', :type => 'text/css', :rel => :stylesheet}
  %body
    .container
      .navbar{style: :'margin-top:20px;'}
        .navbar-inner
          %a.brand RASPIPins
          %ul.nav
            %li.active
              %a{href: :overview} GPIO Overview
            %li
              %a{href: :general_pins} GP Pins
            %li
              %a{href: :signals} Signals
      .row
        .span12.text-center
          %h1 General Raspi Overview
          %p Click on the pins to change their state or view details
      .row
        %table.grid.odd
          %tr#even-readings
        %table.grid#chip.table-bordered
          %tr.evens
          %tr.odds
        %table.grid.even
          %tr#odd-readings