!!!
%html
  %head
    %title Raspberry Pi
    %script{:src => "/js/jquery.js"}
    %script{:src => '/js/bootstrap.min.js'}
    %script{:src => '/script.js'}
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => '/css/base.css', :type => 'text/css', :rel => :stylesheet}
  %body
    .container
      .navbar{style: :'margin-top:20px;'}
        .navbar-inner
          %a.brand RASPIPins
          %ul.nav
            %li.active
              %a{href: :overview} GPIO Overview
            %li
              %a{href: :general_pins} GP Pins
            %li
              %a{href: :signals} Signals
      .row
        .span12.text-center
          %h1 General Raspi Overview
          %p Click on the pins to change their state or view details
          %table.table-bordered.legend.grid
            %tr
              %td.input In
              %td.power Power
              %td.output Out
      .row.chip-row
        %table.grid.even
          %tr#even-readings
        %table.grid#chip.table-bordered
          %tr.evens
          %tr.odds
        %table.grid.odd
          %tr#odd-readings
      .row#pin-summary
        %table.table.table-striped.table-hover.table-bordered#pin-table
          %tr
            %th{:style => 'width:35px'} Pin
            %th{:style => 'width:250px'} Name
            %th{:style => 'width:80px'} Gpio Label
            %th{:style => 'width:200px'} State
            %th Value

%table.hidden
  %tbody
    %tr.pin-template.pin-row
      %td.pin
      %td.name
      %td.gpio
      %td.state
        %ul.nav.nav-pills{:style => 'margin: -5px auto -6px 35px; cursor : pointer'}
          %li.input-pill{:val => 0}
            %a Input
          %li.output-pill{:val => 1}
            %a Output
      %td.value{:style => 'font-weight:bold;'}
