td {
  text-align : center;
}

#chip td {
  cursor: pointer;
  border-bottom : 1px solid #dddddd;
}

.grid {
  font-family : "Courier New", Courier, monospace;
  font-weight:bold;
  font-size : 14pt;
  table-layout : fixed;
  position: relative;
  left : 50%;
  width : 800px;
  margin : auto auto auto -400px;
  z-index : 99;
}

.legend {
  width : 183px;
  margin-left : -91px;
  margin-top : 10px;
  height : 40px;
  border: 1px solid black;
}

#pin-table {
  text-align : center;
  width : 800px;
  position : relative;
  left : 50%;
  margin-left : -400px;
}

#pin-table td, #pin-table th {
  text-align : center;
}

.pin-row {
  cursor : pointer;
}

.underlined {
  border-style : 1px solid black;
  text-decoration: underline overline;
}

#chip {
  border: 1px solid black;
  height : 118px;
}

.grid.even {
  height : 50px;
  margin-top : 10px;
}
.grid.odd {
  height : 50px;
  margin-top : 0px;
}

.input {
  background-color: #FF7F7F;
} .output {
  background-color: #C2FFA3;
}

.pinchart {
  width : 100%;
  height : 200px;
}
